@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

header{
    width: 100%;
	position: fixed;
    background:  rgba(0,0,0,0.4)!important;
    z-index: 9999;
}

body,h1,h2,h3,h4,h5,h6,p,span,button,input{
	font-family: 'Poppins', sans-serif;
}
ul {
	text-decoration: none;
}
li{
	list-style:none;
}

.nav-link{
	color: #ffffff !important;
	font-size: 16px;
	font-weight: 400;
}


.nav-item{
	margin-left: 30px !important;
}
#toys > div.card-img-top{
    align-items: baseline;
}
