
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  height: 100%;
}

body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  
}
body,h1,h2,h3,h4,h5,h6,p,span,button,input{
	font-family: 'Poppins', sans-serif;
}
#logo{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
img{
	max-width: 100%;
}
header{
  width: 100%;
  /* position: fixed; */
  background:  rgba(0,0,0,0.4)!important;
  z-index: 10;
 }
 section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.nav-item a:hover{
 background: rgba(255,255,255,.1);
}

/* NAV BAR  */

  /*---------------------------------------
      MENU              
  -----------------------------------------*/

.custom-navbar {
  border: none;
  margin-bottom: 0;
}

/* .custom-navbar .navbar-brand {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px;
} */

.top-nav-collapse {
    background: #ffffff;
  }
.nav li a{
    padding: .5em 1em;

 }
.navbar-light .navbar-nav .nav-link {
  color:white !important
}
.custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
}

.custom-navbar .section-btn {
    padding: 15px;
    margin-left: 2em;
}

.custom-navbar .section-btn a {
   padding: 0;
}

.custom-navbar .nav .section-btn a:hover {
   color: #ffffff;
}

.custom-navbar .nav li a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: -0.5px;
  padding-right: 22px;
  padding-left: 22px;
}

.custom-navbar .navbar-toggler {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggler {
    background-color: transparent;
}


@media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

  .custom-navbar.top-nav-collapse {
    background: #ffffff;
     -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
     box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
     padding: 12px 0;
  }

  .top-nav-collapse .navbar-brand {
      color: #252525;
  }

  .top-nav-collapse .nav li a {
 color: #575757;
  }

  .top-nav-collapse .nav .section-btn a {
  color: #ffffff;
  }
}


/* MODAL LOGIN  */
.modal-content{
	background-color: #ffffff;
	/* padding: 0 18px; */
  border-radius:10px;
  z-index: 20;
  overflow: auto;
  width: auto;
  /* vertical-align: middle; */
  /* transform:translateX(-50%);
  transform:translateY(50%); */

}




@-webkit-keyframes modal-animation { 
  from { 
      top: -100px; 
      opacity: 0; 
  } 
  to { 
      top: 0px; 
      opacity: 1; 
  } 
} 

@keyframes modal-animation { 
  from { 
      top: -100px; 
      opacity: 0; 
  } 
  to { 
      top: 0px; 
      opacity: 1; 
  } 
} 
.form-group{
	margin-bottom: 25px;
}
.form-group input{
	height: 42px;
	border-radius: 0px 5px 5px 0px;
	border: 1;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 54px;
}

/*========================*/

.home{
  background: url('../img/fondo4.jpg') no-repeat center center;
  position: relative;	
  overflow: hidden;
  vertical-align: middle;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 10px;
  /* background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 0.692)), url('../img/fondo4.jpg') no-repeat; */
  background-size: cover;
 }
 .home:before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(to bottom right, #f76d6dad, #e67e4e);
   opacity: .6;
 }
 .home-info{
   color: white;
   position: absolute;
   /* margin-top:300px; */
 }
 .home-info h1{
   color: white;
 }
 .section-btn {
  background: #ce3232;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.section-btn:hover{
  background: linear-gradient(to bottom right, #B05574, #F87E7B);
  /* background: linear-gradient(to right,#c6dcf0, #e67e4e);  */
  border-color: transparent;
  color: #fff7f7;
}
.home-info span{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-weight: 500;
}


.btn-color{
 background-color: rgb(253, 150, 81);
 color: white;
 font-weight: 700;
}
.card-footer a:hover{
  background-image: linear-gradient(80deg,rgb(255, 212, 220),rgb(255, 214, 184));
}
.contact-info {
  margin-top: 10px;
  padding-left: 0;
}
.card{
  margin-bottom: 40px;
}
/*****  SECCION CONTACTO  *******/
 #contacto{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pets-banner_W.png");
   background-size: cover;
   /* height: 70vh; */
   
 }
 .left-side{
	height: 70vh;
  display: table-cell;
  vertical-align: middle;
}

.left-side h1{
	color: white;
	font-weight: 800;
	font-size: 48px;
}

.left-side p{
  color: white;
	font-weight: 400;
	font-size: 14px;
}

.left-side button {
    margin-right: 20px;
    /* background: transparent;
    border: none;
    border: 1px solid white;
    color: white; */
    padding: 12px 13px;
    border-radius: 5px;
}
.border-card{
  border-radius: 25px;
}
.height-card{
  height: 200px;
}
.contact-info{
  align-content: center;
  height: 50px;
}
.lista ul{
  display: inline-flex;
  align-content: center;
  
}

.lista ul li{
  list-style: none;
  flex-direction: row;
  padding: 10px;
  margin-top: 30px;

}
.lista li{
  padding-bottom: 50px;
  position: relative;
  display:block;
  justify-content: center;
}
.contact-info img{
  width: 100px;
  height: auto;
  margin: auto;
}

.map {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
}
.btn-send{
  background-color: transparent;
  color: white;
}



 /*****  FORMULARIO  *******/
 .form-box {
  border-radius: 3px;
  /* background-color: rgb(245, 229, 229); */
  box-shadow: 0px 29px 57px 0px rgba(22, 20, 24, 0.06);
  padding: 40px;
}

.form-box p {
  font-size: 18px;
}
.form-box hr {
  border: none;
  border-top: 1px solid #f0b9a0;
}
.form-box input[type="text"],
.form-box textarea {
  border: 1px solid #f0b358;
  background-color: rgba(235, 235, 235, 0.09);
  padding: 20px;
  border-radius: 40px;
}
.form-box textarea {
  resize: none;
  min-height: 40px;
  border-radius: 20px;
}
.form-box button {
  color: white;
  font-size: 14px;
  padding: 13px 35px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.bg-toy{
  background-color: rgba(238, 219, 195, 0.925);
}
.bg-footer{
  background-color:lightsalmon;
}


/* boton scroll top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px
}

#myBtn:hover {
  background-color: #555;
}
/*****  SECCION CONTACTO  *******/
#servicio1{
  background: url() no-repeat;
  background-size: cover;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/dog-walker-2-wide.jpg");
}
/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    display: inline-flex;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 50px;
    color: #202020;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

.social-icon li a:hover {
   background: #536976;
  color: #ffffff;
  }
.footer{
  height: 300px;
}   
.footer ul{
   padding-left: 0;
}

.footer ul li{
    list-style-type: none;
    padding-bottom: 10px;
}

.footer ul li a{
    font-size: 15px;
    color: rgb(14, 13, 13);
    font-weight: 600;
    margin-left: 10px;
        
}
.footer-newsletter{
  font-weight: 600;
}
.footer-newsletter .form-control{
  margin-bottom: 30px;
  border: 0;
}
.footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  height: 40px;
  border: 1px solid #d9dde6;
  border-radius: 24px;
}


@media screen and (max-width:991px){
  .home{
    text-align: center;
  }
  .home-info{
    margin-bottom: 3em;
  }
  .home h1{
    margin-top: -200px;;
  }
  .banner{
    text-align: center;
  }
  .banner h1{
    font-size: 28px;
    margin-top: -200px;
  }

}
@media screen and (max-width: 767px){
  footer {
    text-align: center;
  }
 .footer-newsletter{
  display: none;
 }
 
}
  